body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aqua;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#chatbox {
    width: 400px;
    background-color: #b8ca17;
    border: 1px solid #080808;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chatlog {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 5px;
   
}

.bot-message {
    background-color: #fbd1d1;
    border: 1px solid #999;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    margin-bottom: 5px;
}

.user-message {
    background-color: #458a56;
    border: 1px solid #080808;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

#user_input {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

#send_button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
